html,body{
    margin:0;
    }

.SplashContainer{
    background: url(../../assets/images/hexyBackground.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-height: 82vh;
}

.background-tint{
    background-color: rgba(12, 7, 3, 0.672);
    background-blend-mode: multiply;
}

.SplashContactButton{
    background: var(--primary4);
}

.DescriptionSplash > p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.ContactNowContainer{
    font-size: larger;
    background: var(--primary2);
    color: black;
}

.ContactNowContainer > a >button {
    background: var(--primary4);
    color: white;
}

.row {
    display: flex;
    text-align: center;
}

.column {
    flex: 50%;
}

.testing{
    background-color: black;
    width: 100%;
    height: 100%;
}

.QuoteCardContainer{
    display: flex;
    justify-content: center;
}

.QuoteCard{
    width: 22rem;
    background: var(--primary2);
}


@media (max-width: 700px) {
    .row{
        flex-direction: column;
      }
    .DescriptionSplash{
        margin-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


